{% extends 'base.html' %} {% block title %}User{% endblock %} {% block content %}

<div class="card flex-row flex-wrap">
	<div class="card-header">
		<img src="{{user.image_url}}" alt="User image" class="img-thumbnail" style="max-width: 300px; height: auto" />
	</div>
	<div class="card-body px-2 py-5">
		<h1 class="card-title">{{user.first_name}} {{user.last_name}}</h1>

		<form>
			<button formaction="/users/{{user.id}}/edit" formmethod="GET" class="btn btn-primary">Edit</button>

			<button formaction="/users/{{user.id}}/delete" formmethod="POST" class="btn btn-danger">Delete</button>
		</form>
	</div>
</div>
{% endblock %}
