{% extends 'base.html' %} {% block title %}Edit Tag{% endblock %} {% block content %}

<h1>Edit Tag</h1>

<form action="/tags/{{tag.id}}/edit" method="POST">
	<div class="form-group container">
		<label for="name">Name</label>
		<input type="text" name="name" class="form-control" value="{{tag.name}}" />
	</div>
	<div class="container">
		<button type="submit" class="btn btn-success float-end">Edit</button>
		<a href="/tags/{{tag.id}}"><button class="btn btn-outline-info float-end">Cancel</button></a>
	</div>
</form>

{% endblock %}
